<font size = "10"> **Predict Customer Clicked Ads Classification by Using Machine Learning**

---

## Import

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

## Data Overview

In [4]:
df = pd.read_csv('Clicked Ads Dataset.csv', index_col = 0)
df.head()

,Daily Time Spent on Site,Age,Area Income,Daily Internet Usage,Male,Timestamp,Clicked on Ad,city,province,category
0,68.95,35,432837300.0,256.09,Perempuan,3/27/2016 0:53,No,Jakarta Timur,Daerah Khusus Ibukota Jakarta,Furniture
1,80.23,31,479092950.0,193.77,Laki-Laki,4/4/2016 1:39,No,Denpasar,Bali,Food
2,69.47,26,418501580.0,236.50,Perempuan,3/13/2016 20:35,No,Surabaya,Jawa Timur,Electronic
3,74.15,29,383643260.0,245.89,Laki-Laki,1/10/2016 2:31,No,Batam,Kepulauan Riau,House
4,68.37,35,517229930.0,225.58,Perempuan,6/3/2016 3:36,No,Medan,Sumatra Utara,Finance

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Daily Time Spent on Site  987 non-null    float64
 1   Age                       1000 non-null   int64
 2   Area Income               987 non-null    float64
 3   Daily Internet Usage      989 non-null    float64
 4   Male                      997 non-null    object
 5   Timestamp                 1000 non-null   object
 6   Clicked on Ad             1000 non-null   object
 7   city                      1000 non-null   object
 8   province                  1000 non-null   object
 9   category                  1000 non-null   object
dtypes: float64(3), int64(1), object(6)
memory usage: 85.9+ KB

In [11]:
# change data type of Timestamp from object to datetime
df['Timestamp'] = pd.to_datetime(df['Timestamp'])

# rename column name Male to Gender
df = df.rename(columns={'Male' : 'Gender'})

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Daily Time Spent on Site  987 non-null    float64
 1   Age                       1000 non-null   int64
 2   Area Income               987 non-null    float64
 3   Daily Internet Usage      989 non-null    float64
 4   Gender                    997 non-null    object
 5   Timestamp                 1000 non-null   datetime64[ns]
 6   Clicked on Ad             1000 non-null   object
 7   city                      1000 non-null   object
 8   province                  1000 non-null   object
 9   category                  1000 non-null   object
dtypes: datetime64[ns](1), float64(3), int64(1), object(5)
memory usage: 85.9+ KB

In [13]:
df.describe()

,Daily Time Spent on Site,Age,Area Income,Daily Internet Usage
count,987.000000,1000.000000,9.870000e+02,989.000000
mean,64.929524,36.009000,3.848647e+08,179.863620
std,15.844699,8.785562,9.407999e+07,43.870142
min,32.600000,19.000000,9.797550e+07,104.780000
25%,51.270000,29.000000,3.286330e+08,138.710000
50%,68.110000,35.000000,3.990683e+08,182.650000
75%,78.460000,42.000000,4.583554e+08,218.790000
max,91.430000,61.000000,5.563936e+08,267.010000

# EDA (Exploratory Data Analysis)

## Univariate Analysis

## Bivariate Analysis

## Multivariate Analysis